<?xml version="1.0" encoding="UTF-8"?>
<beans xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans.xsd
  http://www.springframework.org/schema/context 
  http://www.springframework.org/schema/context/spring-context.xsd"
   xmlns:context="http://www.springframework.org/schema/context" 
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
xmlns="http://www.springframework.org/schema/beans">
  <bean id="medical" class="com.vamshi.sp08.MedicalShop">
   <constructor-arg value="tablet"></constructor-arg>
  </bean>
  <bean id="tablet" class="com.vamshi.sp08.Tablet">
  <constructor-arg value="medical"></constructor-arg>
  </bean>
</beans>