<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-4.3.xsd
		http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
<bean id="service" class="com.vamshi.service.CarShowRoom"/>
 
<bean id="aspect" class="com.vamshi.aspect.TestDriveAdvice"/>
 
 
 
 <aop:config>
    <aop:pointcut expression="execution(String com.vamshi.service.CarShowRoom.purchaseCar(..))" id="pct1"/>
    
    
    <aop:aspect ref="aspect">
      <aop:before method="testDrive"  pointcut-ref="pct1"/>   
    </aop:aspect>
 
 </aop:config>


</beans>
