<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
	<bean id="irr" class="com.vamshi.beans.InterestReplace" >
	  <property name="rate" value="1.0f"></property>
	</bean>
	
	<bean id="bank" class="com.vamshi.beans.BankService">
	 <replaced-method  name="alInterest" replacer="irr">
	   <arg-type>float</arg-type>
	   <arg-type>float</arg-type>
	 </replaced-method>
	</bean>
</beans>